@import url('desktop.css');

:root {
    --azul01: #022873;
    --azul02: #023E73;
    --amarillo: #D9C873; 
    --marron: #594302;
    --casiblanco: #D9CCC1;

    --ffamily01: "Fraunces", serif;
    --ffamily02: "Fira Sans Condensed", sans-serif;
    --ffamily03: "Patua One", serif;
}

@media only screen and (max-width: 100vh) {
    body {
        width: 100vw;
        background-color: black;
        box-sizing: border-box;
    }

    #navbar,
    #presentacion-direct,
    #proyectos-direct,
    #contacto-direct
    {
        display: none;
    }

    h1,
    #proyectos span h2{
        font-size: 1.5rem;
    }
    
    #nombre
    {
        font-size: 2.5rem;
    }

    #main {
        max-height: 100%;
        max-width: 100svw;
        width: 100%;
        background-color: var(--azul02);
        margin: 0;
    }

    #presentacion,
    #proyectos,
    #contacto {
        max-width: 100%;
        width: 100%;
        border-radius: 2rem;
        border: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    #presentacion {
        height: 80svh;
        /* width: 100%; */
        max-width: 100svw;

        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-evenly;
    }

    /* #presentacion-info {
        background-color: green;
        max-width: 100%;
        width: 100%;
    } */

    /* #presentacion *{
        background-color: red;
    } */
    
    #presentacion *:not(img){
        max-width: 95%;
        /* width: 100%; */
    }
    
    #presentacion-foto {
        margin: 3rem 0;
    } 
    
    #presentacion-foto img{
        height: 10rem;
        /* width: 10%; */
    }

    #presentacion-tecnologias {
        margin-top: 2rem;
        width: fit-content;
    }

    #presentacion-tecnologias h2 {
        font-size: 1rem;
        top: -2rem;
        left: 0;
    }

    #presentacion-tecnologias img{
        height: 2rem;
        width: fit-content;
    }

    #proyectos {
        height: 80svh;

        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: space-around;
    }

    #proyectos span {
        height: 65%;
        width: 90%;

        justify-content: space-between;
    }

    #proyecto-info {
        /* width: 100%; */
        height: 70%;
        margin: 0;
        overflow-y: scroll;
    }

    .info {
        row-gap: 0.5rem;
    }

    #proyectos-tile {
        width: 90%;
        height: 25%;

        display:flex;
        flex-direction: row;
        flex-wrap: nowrap;
        /* gap: 4rem; */
        /* display: grid;
        grid-template-columns: 3;
        grid-template-rows: 1; */

        /* overflow-y: hidden; */
        overflow-x: scroll;
        overflow-y: hidden;
    }

    .proyecto {
        min-width: 7rem;
        width: 25rem;
        height: 6rem;
        margin: 0 1.2rem;

        font-size: 0.65rem;
    }

    .proyecto img {
        height: 2rem;
        border-radius: 0.5rem;
    }

    .proyecto, .proyecto-tapa {
        border-radius: 0.8rem;
    }

    #contacto {
        height: 80svh;

        justify-content: space-evenly;
    }

    #form-h2 {
        margin: 1.5rem 0;
    }

    #contacto-form {
        width: 90%;
    }

    #contacto-redes {
        border: none;
        border-radius: 2rem;
        background-color: var(--casiblanco);
        margin: 0 0.7rem 0.7rem auto;
    }







    #proyectos,
    #contacto{
        height: 10svh;
    }

    /* #presentacion *, */
    #proyectos *:not(.responsive-btn):not(.selected *),
    #contacto *:not(.responsive-btn):not(.selected *),
    #presentacion *:not(.responsive-btn):not(.selected *){
        display: none;
    }

    .responsive-btn:not(#presentacion-responsive-btn) {
        display: block;
    }

    .responsive-btn {
        font-family: var(--ffamily03);
        color: var(--azul01);
        border: none;
        padding: 0.7rem;
        border-radius: 0.5rem;
        background-color: var(--casiblanco);
    }
}

@keyframes responsive-open-anim {
    0%{
        height: 80svh;
    }
    100%{
        height: 10svh;
    }
}